.page {
  display: flex;
  flex-direction: column;
}

/* FILTERS*/

h1 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  color: #1e1e1e;
}
hr {
  border: none;
  border-top: 2px solid #d1d5db;
  margin: 20px 0;
}
.conteinerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonclose {
  color: #6b7280;
  background: none;
  border: none;
  font-size: 30px;
}

/* PRICE RANGE*/

.pricerange-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.darkmode {
  color: #4b4b4b;
}
.toggle-switch {
  width: 73px;
  height: 35px;
  background-color: #e9e9e9;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch .toggle-knob {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: left 0.3s;
}

.toggle-switch .toggle-knob.dark {
  left: 37px;
}
.pricerange p {
  margin-top: 2px;
  text-align: left;
}

.conteinerprice {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.price {
  border-radius: 10px;
  width: 640px;
  height: 110px;

  border: 2px solid #d1d5db;
  text-align: left;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: #6b7280;
}
.pricetext {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: #6b7280;
  margin: 20px 14px 0px 24px;
}
.priceamount {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: #4b4b4b;
  font-weight: bold;
  margin: 10px 14px 14px 24px;
}

body.dark-mode {
  background-color: #1c1b1b;
  h1 {
    color: #edeeef;
  }
  hr {
    border-top: 2px solid #575757;
  }
  p {
    color: #edeeef;
  }
  .price {
    background-color: #edeeef;
  }
  .toggle-switch {
    background-color: #707070;
  }
  .pricetext {
    color: #545555;
  }
  .priceamount {
    color: #4b4b4b;
  }
  .category {
    p {
      color: #989898;
    }
  }
  .pages {
    button {
      background-color: #1c1b1b;
      border: 1px solid#575757;
      color: #575757;
    }
  }
  input {
    background-color: #1c1b1b;
    color: #575757;
    border: 1px solid #575757;
  }
  .biketype {
    color: #6b7280;
  }
  .bikecity {
    color: #6b7280;
  }

  .bikeprice {
    color: #000000;
  }
}

/* Histogram*/

.histogram-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 60px auto;
}

.bars {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
  gap: 2px;
}

.bar {
  width: 6px;
  background: #d5d5d5;
  border-radius: 2px 2px 0 0;
}

.range-line {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.range {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  pointer-events: none;
}

.range::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.range::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}

.bikesfound {
  text-align: left;
  margin-top: 50px;
}
/* CATEGORY*/
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 5px;
  height: auto;
  padding: 10px 10px;
  p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #989898;
  }
  button {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    height: 39px;
    border-radius: 35px;
    margin-left: 20px;
    padding: 0px 18px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #6b7280;
  }
}
/* PAGES BLOCK*/
.pagesblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.pages {
  margin: 24px 0px;
  button {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    height: 31px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 5px;
    padding: 6px 12px;
    text-align: center;
  }
}
.pagesrange {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #656565;
  }
  input {
    background-color: #e5e7eb;

    height: 31px;
    width: 44px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #656565;
    text-align: center;
    border: none;
  }
}

/* BIKES CARD*/
.bikescard {
  border-radius: 5px;
  height: 105px;
  text-align: left;
  background-color: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.biketype {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6b7280;
  margin: 24px 0px 0px 24px;
}
.bikecity {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6b7280;
  margin: 0px 0px 24px 24px;
}
.bikename {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin: 0px 0px 0px 24px;
}
.bikeprice {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 27px;
  color: #000000;
  margin: 0px 24px 0px 0px;
}

@media (max-width: 768px) {
  /* CATEGORY*/
  .category {
    button {
      height: 20px;
      margin-left: 10px;
      margin-top: 5px;
      padding: 0px 10px;
    }
  }
  h1 {
    font-size: 20px;
  }
  .bikeprice {
    font-size: 20px;
  }
}
